# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules*

vitest.config.*.timestamp*

# Local developer secrets
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
.env.example
# Local test scripts
**/local_test/
